@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* overflow-x: hidden; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* overflow-x: hidden; */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.button-cloud {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.section-line-container {
  opacity: 0.6;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
}

.section-line-shape {
  background-color: #cecece;
  width: 1px;
  height: 100%;
  opacity: 0.6;
}
