/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  overflow-x: hidden !important;
}

body {
  width: 100vw !important;
  /* overflow-x: hidden !important; */
}

.buyCarsSection {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

html {
  scroll-behavior: smooth;
}

.button-cloud {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.section-line-container {
  opacity: 0.6;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
}

.section-line-shape {
  background-color: #cecece;
  width: 1px;
  height: 100%;
  opacity: 0.6;
}

.swiper-button-next::after {
  color: white;
}
.swiper-button-prev::after {
  color: white;
}

.thumbsSwiperDown {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.thumbsSwiperDown .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.thumbsSwiperDown .swiper-slide-thumb-active {
  opacity: 1;
}

.thumbsSwiperDown .swiper-slide-active {
  opacity: 1;
}
.swiper {
  padding: auto;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .navbar-container {
  gap: '590px';
}

@media screen and (max-width: 768px) {
  .navbar-container {
    gap: 0;
    margin: auto;
  }
} */

.no-scroll {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 800px;
  background-color: #000;
  padding: 2rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  z-index: 20;
  max-height: 82vh;
}

@media (max-width: 768px) {
  .button-cloud {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .thumbsSwiperDown .swiper-slide img {
    width: 15rem;
    height: 6rem;
    object-fit: cover;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-wrapper button {
    margin-bottom: 1rem; /* Adjust spacing between buttons */
    width: 60vw;
  }
  .button-wrapper a {
    margin-bottom: 1rem; /* Adjust spacing between buttons */
    width: 60vw;
  }
  .swiper-button-prev {
    transform: translateX(-1rem);
  }
  .swiper-button-next {
    transform: translateX(1rem);
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1rem !important;
  }

  .modal {
    width: 90vw;
    border-radius: 20px;
    padding-bottom: 5rem;
  }

  .modal form {
    height: 74vh;
    overflow-y: auto;
  }
}
